{% capture content %}<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Moved to Cuberite.org</title>
	<meta http-equiv="refresh" content="0; url=http://cuberite.org/">
	<link rel="canonical" href="http://cuberite.org/">
</head>
<body>
	<a href="http://cuberite.org">MCServer has been moved to Cuberite.org. Click here if you are not redirected automatically.</a>
</body>
</html>{% endcapture %}{{ content | strip_newlines | replace:'	','' }}
